@model AgriEnergyPOE.Models.Merchandise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Merchandise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchandiseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchandiseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchandiseDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchandiseDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufactureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufactureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchandiseCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchandiseCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MerchandiseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
