@model IEnumerable<AgriEnergyPOE.Models.Merchandise>

@{
    ViewData["Title"] = "Merchandise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="text-center mb-4">
        <h1 class="display-4" style="color:darkorange; font-weight:500;">Merchandise Store</h1>
        <p class="lead">Discover and purchase green energy solutions tailored for agricultural needs.</p>
    </div>

    <div class="mb-3 text-end">
        <a class="btn btn-primary" asp-action="Create">Create New Merchandise</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MerchandiseName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MerchandiseDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ManufactureDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MerchandiseCost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactNumber)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MerchandiseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MerchandiseDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ManufactureDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MerchandiseCost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNumber)
                        </td>
                        <td class="text-end">
                            <a class="btn btn-outline-secondary btn-sm" asp-action="Edit" button style="margin:5px" asp-route-id="@item.MerchandiseId">Edit</a>
                            <a class="btn btn-outline-primary btn-sm" asp-action="Details" button style="margin:5px" asp-route-id="@item.MerchandiseId">Details</a>
                            <a class="btn btn-outline-danger btn-sm" asp-action="Delete" button style="margin:5px" asp-route-id="@item.MerchandiseId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

