@model AgriEnergyPOE.Models.Campaign

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampaignTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampaignTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampaignSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampaignSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoordinatorContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoordinatorContact)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CampaignId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
