@model IEnumerable<AgriEnergyPOE.Models.Campaign>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h1>Index</h1>

<div class="SearchForm">
    <form asp-controller="Campaigns" asp-action="Search">
        <!-- Updated to use the Campaigns controller -->
        <input name="SearchText" class="form-control" style="border:black solid thin;" />
        <input type="submit" value="Search" class="btn btn-success" />
    </form>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CampaignTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampaignSummary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoordinatorContact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CampaignTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampaignSummary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoordinatorContact)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CampaignId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CampaignId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CampaignId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
